<!-- templates/article_delete.html -->
{% extends 'base.html' %}

{% block title %}
Event Delete
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center pt-4">
    
    <form action="" method="post">{% csrf_token %}
        <h1>Delete</h1>
        <p>Are you sure you want to delete?</p>
        <button class="btn btn-danger " type="submit">Confirm</button>
        <button class="btn" type="submit" name="cancel" value="Cancel" />Cancel</button>
    </form>
</div>
{% endblock content %}