{% extends "base.html" %}
{%load static%}
{% block mycss %}
<style>
{% comment %} card rendering and background {% endcomment %}
    body { 
    background: url('{% static "media/weather.jpg" %}') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


    * {
    box-sizing: border-box;  
    }

    .parent {
    display: flex;
    flex-wrap: wrap;
    }

    .child {
    height: 50px;
    background: red;
    flex: 1;
    min-width: 25%;
    border: 5px solid white;
    }


    .weather {
    width: 100%
    }

    @media(max-width:767px) {
    .weather {
        width: 100%
    }
    }

    .card {
    padding: 1rem;
    margin: 1.5rem 4vw;
    border-radius: 1rem;
    background-color: #00c4ff94;
    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 5px 6px 6px 2px #e9ecef;
    text-align: center;
    }

    @media(max-width:768px) {
    .card {
        margin: 1.5rem
    }
    }

    .title {
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
    }

    .title p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    overflow: hidden;
    max-height: 30px;
    max-width: 100%;
    text-overflow: ellipsis;
    }


    .title p:hover {
    overflow: visible;
    }

    .temp {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    }

    .header {
    color: black;
    }

    .col-4 {
    padding: 0 0.2rem
    }

    .icon {
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999
    }

    .icon img {
    width: 5rem
    }

    .icon_del {
    align-self: flex-start;
    margin-left: -1.5rem;
    margin-top: -4.5rem;
    z-index: 999;
    }

    .icon_del img {
    width: 2rem
    }

    {% comment %} button {% endcomment %}

    .search_bar{
    background-color: black;
    }

    .footer-subscribe input[type=text] {
    border: 1px solid #000000;
    border-radius: 55px;
    font-size: 12px;
    padding: 12px 40% 12px 20px;
    margin-bottom: 5px;
    background: #dae0e5;
    width: 100%;
    box-shadow: none !important;
    }

    a,
    button[type="submit"],
    input[type=text] {
    color: black;
    text-decoration: none;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out
    }

    .footer-subscribe .btn-theme {
    position: absolute;
    top: 0;
    height: 89%;
    right: 0px;
    }

    .btn-theme:hover {
    box-shadow: none
    }

    .btn-theme {
    color: black !important;
    padding: 0.5rem 1.9rem;
    font-weight: 400;
    font-size: 0.875rem;
    display: inline-block;
    display: inline-flex;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px
    background-color: azure;
    }


    

</style>
{% endblock mycss %}


{% block content %}

{% if messages %}
{% comment %} display any meggege sent from the backend {% endcomment %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
 {% endif %}
    
<div class="weather">
    <div class="search pt-3">
        <div class="serch_row h-100 d-flex justify-content-center align-items-center mt-1 mb-1 ">
            <div class="col-md-8">
                <form method= 'post' id="createWeatherForm" data-url= {% url 'manCal:weather' %} class="flex-nowrap col ml-auto footer-subscribe p-0 "> 
                {% comment %} weather location search bar {% endcomment %}
                {% csrf_token %}
                    {{form.location}}
                    <button type="button" id="createWeatherButton" class=" btn btn-theme bg-orange">Add
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="row mr-0 " id="weatherList">
    {% comment %} loop to create card for each city saved in the DB {% endcomment %}
    {% for city_weather in weather_data %}
        <div class="col-md-4" id="weatherCard" data-id="{{city_weather.location_id}}">
        <div class="card"  > <span class="icon"><img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png"></span>
            <a class="icon_del" data-id="{{city_weather.location_id}}" >
                <img src="https://img.icons8.com/ios-filled/50/000000/circled-x.png">
            </a>
            <div class="title">
                <p>{{city_weather.city}}</p>
            </div>
            <div class="temp">{{city_weather.temperature}}<sup>&deg;</sup></div>
            <div class="row">
                <div class="col-4">
                    <div class="header">General</div>
                    <div class="value">{{city_weather.main}}</div>
                </div>
                <div class="col-4">
                    <div class="header">Min Temp</div>
                    <div class="value">{{city_weather.tempMin}}<sup>&deg;</sup></div>
                </div>
                <div class="col-4">
                    <div class="header">Max Temp</div>
                    <div class="value">{{city_weather.tempMax}}<sup>&deg;</sup></div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
    
{% endblock content %}
{% block javascript%}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDio4Zj99JOhP8SBQBM3CydIsc91ld-Jbs"></script>
<script>

    var searchInput = 'search_input';

    $(document).ready(function () {
        //google autocomplite
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('search_input')), {
            types: ['geocode'],
        });
      
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
        });
        //listener and ajax to delete saved location
        $("#weatherList").on('click', '.icon_del', function() {
            var dataId = $(this).data('id');
            $.ajax({
                url: '/weather/'+ dataId +'/location_delete/',
                data: {
                    id: dataId
                },
                type: 'post',
                dataType: 'json',
                success: function() {
                    $('#weatherCard[data-id="'+ dataId +'"]').remove();
                }

            })
        });
        //listener on serch bar and cration of card for new location added
        $("#createWeatherButton").click(function () {
            var serializedData = $("#createWeatherForm").serialize();
            console.log(serializedData);
             $.ajax({
            url: $("#createWeatherForm").data('url'),
            data: serializedData,
            type: 'post',
            success: function(response) {
                console.log(response.errorCode)
                if(response.errorCode == 200){
                    $("#weatherList").append(
                        '<div class="col-md-4" id="weatherCard" data-id="'+ response.city_weather.location_id +'"><div class="card"  > <span class="icon"><img src="http://openweathermap.org/img/w/'+ response.city_weather.icon +'.png"></span><a class="icon_del" data-id="'+ response.city_weather.location_id +'" ><img src="https://img.icons8.com/ios-filled/50/000000/circled-x.png"></a><div class="title"><p>'+response.city_weather.city+'</p></div><div class="temp">'+response.city_weather.temperature+'<sup>&deg;</sup></div><div class="row"><div class="col-4"><div class="header">General</div><div class="value">'+response.city_weather.main+'</div></div><div class="col-4"><div class="header">Min Temp</div><div class="value">'+response.city_weather.tempMin+'<sup>&deg;</sup></div></div><div class="col-4"><div class="header">Max Temp</div><div class="value">'+response.city_weather.tempMax+'<sup>&deg;</sup></div></div></div></div></div>'
                    )
                }
                else if(response.errorCode == 500){
                    alert(response.error);
                }
            }
        })

        })
    });
</script>



{% endblock %}